h1 {
    font-size: 40px;
    font-weight: 200px;
    color: aqua;
    font-size: 30px;
    font-style: italic;
    text-decoration: green wavy underline;
    text-align: center;
}

p {
    font-size: 20px;
    color: blue;
    font-family: arial;
    font-weight: lighter;

    /* letter-spacing: 5px;
    word-spacing: 10px; */
    border: 3px solid yellowgreen;
    border-radius: 10px;
    text-align: center;
    text-align: left;
}

h2 {
    text-align: center;
    color: red;

}

#parent {
    margin: 10px;
    display: inline;
    display: flex;
}

#child1 {
    width: 400px;
    height: 400px;
    border: 3px solid gray;
    margin: 10px;
    background-color: aquamarine;
    border: 1px solid black;
    margin: 10px;
    background-image: ;
}

#child2 {
    width: 400px;
    height: 400px;
    border: 1px solid gray;
    margin: 10px;
    background-color: aqua;
 background: linear-gradient(to right yellowgreen);

}

#para1 {
    border: none;
    margin: 0px 10px 10px;

}

#para2 {
    border: none;
    margin: 10px;
    background: linear-gradient(to right yellowgreen);

}

body {
    background: linear-gradient(to right rgb(124, 184, 4));
}