h2{
    color: blue;
}
body{
    background-color: rgb(100, 232, 111);
}
p{
   border: 3px solid red;
   color: blue;
   border-radius: 10px;
   text-align: center;
}
#box{
    width: 100px;
    height: 100px;
    border: 3px solid red;
    background-color: pink;
    margin: 20px;
}
#child{
    position: relative;
    top: 50px;
    left: 60px;
}
h1,h2,h3{
   color: red;
}

#parent{
    width: 10rem;
    height: 10rem;
    background-color: aquamarine;
    display: flex;
    align-self: center;
    justify-content: center;
}
#child1{
    height: 4rem;
    width: 4rem;
    background-color: blue;

}