#img{
    border: 5px solid yellow;
    display: inline;
    margin: 20px;
}
img2{
    display: inline;
    border: 4px solid pink;
    
}
h1{
    transition: all;
}
h1:hover{
    color: rgb(3, 138, 48);
}
p{
    
}