a{
   margin-right: 300px;
    font-size: 25px;
    text-decoration: none;
    
}
#nav{
    background-color: blanchedalmond;
}
body{

    background-color: rgb(240, 226, 226);
    background-image: ;
}