.box{
 width: 100px;
 height: 100px;
 border: 2px solid olivedrab;
}

.box{
 width: 100px;
 height: 100px;
 border: 2px solid yellow;
}

.box{
 width: 100px;
 height: 100px;
 border: 2px solid pink;
}

.box{
 width: 100px;
 height: 100px;
 border: 2px solid red;
}